<div class="container">
    {{#if err}}<div class="alert alert-danger" role="alert">
        {{err}}
    </div>{{/if}}
    <div style="display: flex; justify-content: center">
        <img src="/public/img/front.jpg" width="50%" style="border-radius:2em;" alt="Hockey goal">

    </div>
    <h1 class="center">Palmeus JS</h1>
    <h2 class="center">The fair team maker</h2>
    <p>Palmeus JS is a fair match making and booking site. It combines the best experience of any platform, and features
        a comprehesive matchmaking system, payment tracking, and players stats</p>
</div>