<main class="container">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error.message}}
    </div>
    {{/if}}
    <form action="/teams/{{{team.id}}}/invite" method="post">
        <div class="form-group">
            <label for="userOrEmail">Username or Email</label>
            <input type="text" name="userOrEmail" class="form-control" id="userOrEmail"
                placeholder="Enter a username or email" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="pos">Position</label>
                <select id="pos" name="pos" class="form-control" required>
                    <option value="GK">Goal Keeper</option>
                    <option value="DF">Defender</option>
                    <option selected value="FW">Forward</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="elo">Skill Level</label>
                <select id="elo" name="elo" class="form-control" required>
                    <option value="900">Low - 900</option>
                    <option value="1000" selected>Normal - 1000</option>
                    <option value="1100">High - 1100</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>