* {
  box-sizing: border-box;
}

.right {
  float: right !important;
}

.inline {
  display: flex;
  justify-content: space-around;
}

.inline .btn {
  margin: 0, 0.2em, 0, 0, 2em;
}

.inline {
  height: 100%;
}

.devider {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-around;
}

.teamTable {
  width: 50%;
}

.buttons button {
  margin: 5px;
}

.box {
  background-color: #ebebeb;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 10px;
}

.center {
  text-align: center;
}

.notGoing {
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(6, 5, 84, 0) 75%,
    rgba(212, 0, 0, 0.7413340336134453) 100%
  );
}

.going {
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(6, 5, 84, 0) 75%,
    rgba(0, 212, 26, 0.7413340336134453) 100%
  );
}
